.form-component-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    gap: 20px;
    padding: 10px;
}

.form-component-main>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    gap: 4px;
}