.home-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
}

.home-main>div {
    width: 50%;
}

.home-main>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}