/* app.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #f9f9f9;
  overflow-x: auto; /* allow horizontal scroll ONLY if needed */
  overflow-y: auto; /* allow vertical scroll ONLY if needed */
}

body {
  scroll-behavior: smooth;
}